.navBar{
    background-color: black;
}
.navBar1{
    text-align: center;
}
.tab{
    background-color: #F8F5F5;
    text-align: center;
    margin-left: 90px;
    margin-right: auto;
    border: 2px solid #F8F5F5;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkgray;
}
.search{
    margin: 20px 20px 20px 90px;
    box-shadow: 10px 10px 5px lightgray;
}
.vl{
    border-left:3px solid black;
}
.input-text{
    font-weight: bold;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: large;
}
.input-text2{
    font-weight: bold;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: large;
}
.mapImage{
    background-image: url('./imgM/map-example.png');
    background-repeat: no-repeat;
    background-size: 400px,400px;
}
.sty{
    height: 100%;

}
.row1{
    height: 4%;
}
.row2{
    height:70%;
}
Body{
    height: 100%;
}
#root{
    height: 100%;
}
hr{
    padding: 0;
    margin: 0;
}
.mainContent{
    border: 1px solid gray;
    border-radius: 75px 0 75px 0;
    padding:5px;
}
.bgImg {
    border: 1px solid gray;
    border-radius: 75px 0 75px 0;
    background-image: url('./imgM/profile_title_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
}
.avatar{
    padding:5px;
    margin-left: 40px;
    margin-top: 10px;
    object-position: left;
    float: left;
}
.profile-text{
    text-decoration:underline;
    color:gray;
    font-size: small;
}
.profile-head{
    padding-top: 15px;
    padding-left: 30px;
    overflow:hidden;
}
.input{
    text-align: center;
}
.textField{
    margin-left: 40px;
    color:whitesmoke;
}
.button{
    text-align: center;
}
label{
    width:100vw;
    height:2em;
}
label .input-text2{
    width:30vw;
    display:inline-block;
    padding:10px;
}
label .input-text2 span{
    color:white;
    float:left;
}
label TextField{
    width:55vw;
}