.column{
    padding-top: 5px;
    height: 50px;
    background-size: 10% 10%;
    background-color: #0A0A0A;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}
.topFirstColumn{
    align-content:center;
    color: white;
    display: flex;
    flex-direction: row;


}
.topSecondColumn{
    align-content:center;
    color: white;
    display: flex;
    flex-direction: row;

    padding-top: 250px;


}
.topThirdColumn{
    align-content:center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: row;


}

.picture{
    height: 300px;
    background-image:url(./imgM/mountKeira.jpg);
    background-size: 100% 100%;
    object-fit: cover;
    background-repeat:no-repeat;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 50px;
    padding-right: 50px;
}
.image{
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.container{
    position: relative;

}
.circle{
    border-radius: 20px 20px 20px 20px;
    border: 2px;
    border-style: solid;
    border-color: #b2a6a6;
    padding: 20px;
}
.circle1{
    border-radius: 20px 20px 20px 20px;
    border: 2px;
    border-style: solid;
    border-color: #b2a6a6;
    padding: 30px;
}
.temp{
    border-bottom: 1px solid #b2a6a6;
}
