.backgroundBlack{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_firstColumn{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_secondColumn{
    padding-top: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}
.backgroundBlack_thirdColumn{
    padding-top: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_fourthColumn{
    padding-top: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_row{
    background-color: #000000;
    color: white;
    text-align: center;
}
