
.center {
    padding: 5px 0;
    text-align: center;
}

.backgroundIMG{
    height: 400px;
    background-image:url('./back3.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.botton{
    height: 400px;
    background-image:url('./bback2.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.text1{
    font-family: "Arial";
    font-weight: bolder;
    font-size: larger;
}
.smText{
    font-weight: inherit;
    font-size: small;
    color:blue;
}
.text2{
    font-weight: inherit;
    font-size: small;
}
.bouddiImgCard{
    width:320px;
    height:415px;
}
.bouddiImg{
    height:auto;
    max-height: 250px;
    width:auto;
    max-width: 250px;
}
.backgroundBlack{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_firstColumn{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_secondColumn{
    padding-top: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}
.backgroundBlack_thirdColumn{
    padding-top: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_fourthColumn{
    padding-top: 20px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.backgroundBlack_row{
    background-color: #000000;
    color: white;
    text-align: center;
}
.link-top{
    width: 80%;
    height: 1px;
    border-top: solid #e0d5d5 1px;
    margin-left:auto;
    margin-right:auto;
}
footer{
    width: 100%;
    position: absolute;
}
a{
    color: white;
    text-decoration:none;
}

